.howit-works-container{
    margin: 0 0 50px 0;
}

.how-it-works-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 62px;
  margin-top: 32px;
  /* background-color: red; */
}

.how-it-works-card {
  background: #F3EEE5;
  border-radius: 6px;
  /* box-shadow: 0 4px 16px rgba(0,0,0,0.08); */
  height: 391px;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px;
  position: relative;
  transition: box-shadow 0.2s;
}

.old-gold-works-img-wrap {
    height: 303px;
    width: 280px;
    padding: 3px 3px 0 3px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.how-it-works-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.06);
}

.how-it-works-step-badge {
  position: absolute;
  left: 50%;
  bottom: 6px;
  transform: translateX(-50%);
  background: #7c3846;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  font-family: "Cinzel", serif;
  padding: 4px 20px;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  letter-spacing: 1px;
  z-index: 2;
}
.how-it-works-step-badge-1{
    height: 40px;
    width: 179px;
    background-color: #F3EEE5;
    position: absolute;
    left: 17%;
  bottom: -18px;
  border-radius: 17px;
  box-shadow: 0 0 3px rgb(216, 215, 215);
}

.how-it-works-desc {
  margin-top: 26px;
  text-align: center;
  color: #7c3846;
  font-size: 18px;
  font-family: "Crimson Pro", serif;
  font-weight: 500;
  padding: 0 12px;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.oldHowItDescri{
    /* background-color: red; */
    margin-top: 15px;
    padding: 0 437px;
}

@media(max-width: 768px){
  .oldHowItDescri{
    padding: 0;
  }
  .how-it-works-cards{
    gap: 24px;
  }
  .how-it-works-card{
    width: 346px;
  }
  .old-gold-works-img-wrap{
   width: 346px; 
  }
  .how-it-works-step-badge-1{
    left: 24%;
  }
  .how-it-works-step-badge{
    bottom: 2px;
  }
}


