.old-terms-whitBg{
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.old-exchange-card-desc-bg {
    background: white;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 10px;
    height: 65px;
    margin-top: 10px;
}
.old-exchange-card-desc{
    font-size: 12px;
    padding: 0 30px;
}
.red_checkmark_Icon{
    height: 36px;
    width: 36px;
}

.old-terms-card {
    background: #faf8f2;
    border-radius: 6px;
    flex: 1;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 230px;
    width: 18%;
    box-shadow: 0 0 3px #b0afaf;
}


@media(max-width: 768px) {
    .old-terms-card{
        width: 100%;
    }
}